<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sku_dlg" class="easyui-dialog" title="编辑sku" style="width:700px;height:520px;"
     closed="true"  data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#skuBtns" >
    <form id="skuForm">
        <br/>
        <label>sku名称:</label>
        <input  id="skuName" name="skuName" class="easyui-textbox" data-options="" style="width:300px;"/>
        <br/><br/>
        <label>商品价格:</label>
        <input  id="price" name="price" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品重量（千克):</label>
        <input  id="weight" name="weight" class="easyui-numberbox" data-options="min:0,precision:2" style="width:300px;"/>
        <br/><br/>
        <label>商品规格描述:</label>
        <input  id="skuDesc" name="skuDesc" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:100px"/>
        <!--保存spuId ，因为skuInfo 表中需要spuId-->
        <input id="spuIdForSku" name="spuId" type="hidden"/>
        <!--skuId 商品的Id ，skuInfo.id-->
        <input id="skuId" name="id" type="hidden"/>
        <!--三级分类Id-->
        <input id="catalog3IdForSku" name="catalog3Id" type="hidden"/>
        <br/><br/>
        <!--skuInfo 后续做编辑的时候。-->
        <input id="skuInfo" name="skuInfo" type="hidden"/>

        <!--平台属性  easyui-panel-->
        <div id="attrInfoGroup"  title="平台属性" class="easyui-panel" style="padding:5px;" ></div>
        <!--销售属性 easyui-panel-->
        <div id="spuSaleAttrGroup" title="销售属性" class="easyui-panel" style="padding:5px;" ></div>



        <!----------------商品图片列表 ----------------------->

        <table id="skuImgDg" class="easyui-datagrid" title="商品图片列表"
               data-options="singleSelect:false,selectOnCheck:false,method:'get'" ></table>

        <br/><br/>


    </form>
</div>
<!----------------弹出框的按钮组----------------------->
<div id="skuBtns">
    <a href="#" class="easyui-linkbutton" onclick="saveSku()">保 存</a>
    <a href="#" class="easyui-linkbutton" onclick="closeSku()">关 闭</a>
</div>

</body>
<script type="text/javascript">
    // 保存事件
    function saveSku() {

        // 声明对象
        var skuInfo = {};
//        skuInfo
//        String id;
//        String spuId;
//        BigDecimal price;
//        String skuName;
//        BigDecimal weight;
//        String skuDesc;
//        String catalog3Id;
//        String skuDefaultImg;
//        List<SkuImage> skuImageList;
//        List<SkuAttrValue> skuAttrValueList;
//        List<SkuSaleAttrValue> skuSaleAttrValueList;
//        数据封装
        skuInfo["id"] = $("#skuId").val();
        skuInfo["spuId"] = $("#spuIdForSku").val();
        skuInfo["skuName"] = $("#skuName").val();
        skuInfo["skuDesc"] = $("#skuDesc").val();
        skuInfo["price"] = $("#price").val();
        skuInfo["weight"] = $("#weight").val();
        skuInfo["catalog3Id"] = $("#catalog3IdForSku").val();
        // skuDefaultImg
        // 图片数据绑定 ，先获取到所有的图片数据{getChecked 获取被选中的数据 } getRows
//        结束图片dg表格的编辑
        skuImgDgendEdit();
        var skuImgDgRows = $("#skuImgDg").datagrid('getChecked');
        // 循环赋值
        for (var i = 0; i < skuImgDgRows.length; i++) {
//            skuImage
//            String id;
//            String skuId;
//            String imgName;
//            String imgUrl;
//            String spuImgId;
//            String isDefault;
            skuInfo["skuImageList["+i+"].imgName"] = skuImgDgRows[i].imgName;
            skuInfo["skuImageList["+i+"].imgUrl"] = skuImgDgRows[i].imgUrl;
            // 设置默认图片 skuInfo["skuDefaultImg"] = 当
            if (skuImgDgRows[i].isDefault=='1'){
                skuInfo["skuDefaultImg"] = skuImgDgRows[i].imgUrl;
            }
            skuInfo["skuImageList["+i+"].spuImgId"] = skuImgDgRows[i].id;
            skuInfo["skuImageList["+i+"].isDefault"] = skuImgDgRows[i].isDefault;
        }
        // 平台属性
        // 先获取数据 利用jquery 语法 <option:selected> 平台属性Id 平台属性值Id
        var attrInfoSelect  = $("#attrInfoGroup").children("select");
        // 循环里面的数据，然后对skuInfo.skuAttrValueList 集合赋值
        for (var i = 0; i < attrInfoSelect.length; i++) {
            // 取得平台属性Id， jquery 语法中又一个方法 attr("")取得对应的属性值; attr("","")给对应的属性赋值
            var attrId = attrInfoSelect.eq(i).attr("attrId");
            // 平台属性值的Id
            var valueId = attrInfoSelect.eq(i).find("option:selected").val();
            skuInfo["skuAttrValueList["+i+"].attrId"] = attrId;
            skuInfo["skuAttrValueList["+i+"].valueId"] = valueId;
        }
        // 销售属性
        var spuSaleAttrSelect = $("#spuSaleAttrGroup").children("select");
//            console.log("len:"+ attrInfoSelect.length);
        for (var i = 0; i < spuSaleAttrSelect.length; i++) {
            // 销售属性值Id
            var saleAttrValueId = spuSaleAttrSelect.eq(i).find("option:selected").val();
            // 取得销售属性值的名称
            var saleAttrValueName = spuSaleAttrSelect.eq(i).find("option:selected").text();
            // 销售属性Id
            var saleAttrId=spuSaleAttrSelect.eq(i).attr("saleAttrId");
            // 销售属性名称
            var saleAttrName=spuSaleAttrSelect.eq(i).attr("spuSaleAttrName");
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrValueId"]=saleAttrValueId;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrValueName"]=saleAttrValueName;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrId"]=saleAttrId;
            skuInfo["skuSaleAttrValueList[" + i + "].saleAttrName"]=saleAttrName;
        }
        console.log(JSON.stringify(skuInfo));

        $.post("saveSku",skuInfo,function (data) {
            // 关闭对话框
            $("#sku_dlg").dialog('close')
        })
    }

//  图片表格结束编辑函数
    function skuImgDgendEdit() {
        var rows = $("#skuImgDg").datagrid("getRows");
        for(i=0;i<rows.length;i++){
            $("#skuImgDg").datagrid("endEdit",i);
        }
    }

    // 初始化方法
    function initSkuInfoDlg(spuId,skuInfo,catalog3Id){
        //打开对话框
        $('#sku_dlg').dialog("open");
        // console.log("初始化文本sku："+ JSON.stringify(skuInfo));

        //初始化 表单
        initSkuForm(spuId,catalog3Id)

        // 编辑的时候，加载数据
        loadSkuForm(skuInfo);

        //初始化图片表格
        initSkuImgListDatagrid(spuId) ;

        //初始化
        console.log("初始化销售属性!!!");
        initSpuSaleAttrGroup(spuId,skuInfo);

        console.log("初始化平台属性!!!");
        initAttrInfoGroup(catalog3Id);
        console.log("清理表单!!!");

    }
    // 平台属性
    function initAttrInfoGroup(catalog3Id){
        console.log("初始化平台属性:"+catalog3Id);
        var attrInfoList={};
        $('#attrInfoGroup').html("");
        var attrInfoGroup= $('#attrInfoGroup');
        $.get("attrInfoList?catalog3Id="+catalog3Id,function(data){
            console.log("attrInfoList:"+ JSON.stringify(data));
            attrInfoList=data;
            for (var i = 0; i < attrInfoList.length; i++) {
                var attrInfo = attrInfoList[i];
                var attrInfoHtml='<span>'+attrInfo.attrName+':</span> <select attrId="'+attrInfo.id+'"   class="easyui-combobox"   style="width:100px">';
                for (var j = 0; j < attrInfoList[i].attrValueList.length; j++) {

                    var attrValue = attrInfoList[i].attrValueList[j];
                    console.log(attrValue);
                    var attrValueHtml='<option value="'+attrValue.id+'">'+attrValue.valueName+'</option>'
                    attrInfoHtml=attrInfoHtml+attrValueHtml;
                }
                attrInfoHtml+='</select>';
                console.log(attrInfoHtml);
                attrInfoGroup.append($(attrInfoHtml));

            }
            loadSkuAttrInfo(skuInfo);
        });
    }
    function loadSkuAttrInfo(){
        if($("#skuInfo").val()==''){
            return;
        }
        var skuInfo=JSON.parse($("#skuInfo").val())  ;
        console.log("开始加载sku平台属性："+skuInfo.skuAttrValueList);
        if(!skuInfo||!skuInfo.skuAttrValueList){
            return;
        }
        var skuAttrValueList=skuInfo.skuAttrValueList;
        var selects = $('#attrInfoGroup').find("select");
        console.log(" selects.html():111:"+ selects.html());
        for (var i = 0; i < selects.length; i++) {
            var select = selects.eq(i);
            for (var j = 0; j < skuAttrValueList.length; j++) {
                console.log(" AttrVs::::::"+skuAttrValueList[j].attrId+"||"+select.attr("attrId"));
                if(skuAttrValueList[j].attrId==select.attr("attrId")) {
                    select.val(skuAttrValueList[j].valueId);
                }
            }
        }
    }
    // 初始化销售属性
    function initSpuSaleAttrGroup(spuId,skuInfo) {
        /*
            1. 先从后台取得对应数据
            2. 将数据循环显示到页面上， 属性名称：属性值1....n
                2.1 xxxName:xxxValue 需要动态改变下拉列表 属性名称：属性值： <select> <option value="1">1</option> <option>2</option></select>
                <from method="post",action="spuSaleAttrList">

                    <select> <option value="1">哈哈</option> <option value="2" >呵呵</option></select>
                    <input type="submit" vlaue="提交">
                </from>
               当选中哈哈的时候m提交表单数据, 后台得到的数据1
         */
        console.log("初始化销售属性");
        // 创建一个对象
        var spuSaleAttrList={};
        // 清空数据
        $('#spuSaleAttrGroup').html("");
        // 取得面板对象
        var spuSaleAttrGroup= $('#spuSaleAttrGroup');
        // 控制器spuSaleAttrList? spuId 传递参数
        $.get("spuSaleAttrList?spuId="+spuId,function(data){
            // 回调函数 即使 销售属性列表的集合
            console.log("spuSaleAttrList:"+ JSON.stringify(data));
            spuSaleAttrList=data;
            // 循环显示到页面！
            for (var i = 0; i < spuSaleAttrList.length; i++) {
                // 取得销售属性对象
                var spuSaleAttr = spuSaleAttrList[i];
                // 拼接销售属性名称
                // 自定义属性 saleAttrId spuSaleAttrName
                var spuSaleAttrHtml='<span>'+spuSaleAttr.saleAttrName+':</span> <select saleAttrId="'+spuSaleAttr.saleAttrId+'"  spuSaleAttrName="'+spuSaleAttr.saleAttrName+'"  class="easyui-combobox"   style="width:100px">';
                // 销售属性值名称
                for (var j = 0; j < spuSaleAttrList[i].spuSaleAttrValueList.length; j++) {
                    // 取得销售属性值对象
                    var spuSaleAttrValue = spuSaleAttrList[i].spuSaleAttrValueList[j];
                    // 拼接销售属性值的数据，存储的数据是销售属性值的Id，显示的是销售属性值的名称
                    var spuSaleAttrValueHtml='<option value="'+spuSaleAttrValue.id+'">'+spuSaleAttrValue.saleAttrValueName+'</option>';
                    spuSaleAttrHtml=spuSaleAttrHtml+spuSaleAttrValueHtml;
                }
                spuSaleAttrHtml+='</select>';
                console.log(spuSaleAttrHtml);
                // spuSaleAttrHtml = 销售属性名称：销售属性值名称，将变量追加到销售属性面板
                spuSaleAttrGroup.append($(spuSaleAttrHtml));
            }
            // 加载 销售属性，销售属性中对应有销售属性值的集合！
            loadSkuSaleAttr();
        });

    }
    // 编辑操作
    function loadSkuSaleAttr(){
        if($("#skuInfo").val()==''){
            return;
        }
        // 先获取对象
        var skuInfo=JSON.parse($("#skuInfo").val());
        console.log("开始加载sku销售属性："+skuInfo.skuSaleAttrValueList);
        if(!skuInfo ||!skuInfo.skuSaleAttrValueList){
            return;
        }
        var skuSaleAttrValueList=skuInfo.skuSaleAttrValueList;
        // 获取前台显示的控件
        var selects = $("#spuSaleAttrGroup").find("select");
        console.log(" selects.html()::"+ selects.html())

        // 循环页面显示的面板
        for (var i = 0; i < selects.length; i++) {
            // .eq(i) 判断里面的每个一值！ = ：表示赋值，==： 判断是否相等，===：表示判断是否相等{相当严格}
            /*
                var i = 1
                var j = "1"
                if(i==j){
                    // true
                }
                if(i===j){
                    // false
                }
             */
            var select = selects.eq(i);
            // 循环后台数据进行添加
            for (var j = 0; j < skuSaleAttrValueList.length; j++) {
                console.log("SaleAttrVs::::::"+skuSaleAttrValueList[j].saleAttrId+"||"+select.attr("saleAttrId"));
                if(skuSaleAttrValueList[j].saleAttrId==select.attr("saleAttrId")) {
                    console.log("skuSaleAttrValueList[j].saleAttrValueId+++"+skuSaleAttrValueList[j].saleAttrValueId);
                    select.val(skuSaleAttrValueList[j].saleAttrValueId);
                }

            }
        }

    }



    function initSkuImgListDatagrid(spuId) {
        $("#skuImgDg").datagrid({url:""});
        $('#skuImgDg').datagrid('loadData', { total: 0, rows: [] });
        console.log("初始化表格sku");
        skuImgDg = $("#skuImgDg").datagrid({
            columns:[[
                { field:'checkFlag',checkbox:true},
                { field:'id',title:'文件编号',width:'15%'},//隐藏文件页面内部编号
                { field:'imgName',title:'图片简称',width:'30%'
                },
                { field:'imgUrl',title:'图片路径' ,width:'20%',
                    formatter:function (value, row, index) {
                        return "<img src="+row.imgUrl+" style='width:100px;height:100px;'>";
                    }
                }
                ,
                { field:'isDefault',title:'是否默认图片' ,width:'20%',
                    editor:{type: 'checkbox' ,
                        options: {
                            on:"1",
                            off:"0"
                        }
                    }
                }
            ]],
            onLoadSuccess: function () {   //隐藏表头的checkbox
                console.log("共加载"+skuImgDg.datagrid("getRows").length+"行");
                // 做图片编辑使用的
                loadSkuImg(skuInfo);
                // 开启图片表格的编辑模式
                skuImgDgbeginEdit();
            }

        });
        console.log('加载图片数据'+spuId);
        $('#skuImgDg').datagrid({url:'spuImageList?spuId='+spuId});


    }
    // 图片表格编辑
    function skuImgDgbeginEdit() {
        var skuImgDg = $("#skuImgDg");
        var rows = skuImgDg.datagrid('getRows');
        for (var i = 0; i < rows.length; i++) {
            skuImgDg.datagrid('beginEdit', i);
        }
    }


    // 编辑
    function loadSkuImg(){
        if($("#skuInfo").val()==''){
            return;
        }
        // skuInfo ：json对象
        var skuInfo=JSON.parse($("#skuInfo").val());
        console.log("加载sku图片:"+skuInfo+"||"+skuInfo.skuImageList);
        if(!skuInfo||!skuInfo.skuImageList){
            return;
        }
        console.log("加载sku图片:"+skuInfo+"||"+skuInfo.skuImageList);
        // 将数据{数据库}加载到页面
        var imgDg=$('#skuImgDg') ;
        // 获取所有行数
        var imgRows =imgDg.datagrid("getRows");
        // skuInfo.skuImageList 表示从后台取得到的所有数据，循环添加到skuImgDg 控件上
        var skuImgList=skuInfo.skuImageList;
        // 循环skuImgDg 中的每一行，并给每一行进行赋值skuInfo.skuImageList
        for (var i = 0; i < imgRows.length; i++) {
            var imgRow = imgRows[i];
            for (var j = 0; j < skuImgList.length; j++) {
                var skuImg = skuImgList[j];
                console.log("imgVs::::::"+skuImg.spuImgId+"||"+imgRow.id);
                // skuImg.spuImgId==imgRow.id
                if(skuImg.spuImgId==imgRow.id){
                    imgDg.datagrid("checkRow",i);
                    imgDg.datagrid("updateRow",{index:i,row:{isDefault:skuImg.isDefault}});

                }

            }
        }
    }



    // 做sku编辑的时候做！
    function loadSkuForm(skuInfo){
        console.log("开始加载sku表单："+skuInfo.id);
        if(!skuInfo||!skuInfo.id){
            return;
        }
        console.log("开始加载sku表单："+skuInfo.skuName);
        $("#skuName").textbox('setValue',skuInfo.skuName);
        $("#skuDesc").textbox('setValue',skuInfo.skuDesc);
        $("#price").textbox('setValue', skuInfo.price);
        $("#weight").textbox('setValue',skuInfo.weight);
        $("#spuIdForSku").val(skuInfo.spuId);
        $("#skuDefaultImg").val(skuInfo.skuDefaultImg);
        $("#skuId").val(skuInfo.id);
        $("#catalog3IdForSku").val(skuInfo.catalog3Id);
        $("#skuInfo").val(JSON.stringify(skuInfo));//用于异步加载的 暂存
        console.log("skuInfo in hidden:"+$("#skuInfo").val());

    }

    // 初始化方法
    function initSkuForm(spuId,catalog3Id) {
        // 清空表单数据
        $("#skuForm").form('clear');
        // 初始化，必须根据spuId进行初始化，三级分类Id，初始化平台属性
        $("#spuIdForSku").val(spuId);
        $("#catalog3IdForSku").val(catalog3Id);

    }

    function closeSku() {
        $("#sku_dlg").dialog('close')
    }

</script>
</html>